.TitleBar a, a:hover, a:focus, a:active 
{
  text-decoration: none;
  color: inherit;
}

.TitleBar div:first-of-type
{
    
    border-radius: 10px 10px 0px 0px;
    background-color: #5F7938;
    padding: 10px;
    font-size: 24px;
    color: lightgray;
    letter-spacing: 8px;
    font-family: Cairo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.TitleBar>div+div
{
    height: 5px;
    background-color: lightgray;
}
#img_logout
{
    width: 50px;
    background: url("../imgs/ChiudiOn.png") no-repeat center;
}
#img_logout:hover 
{
    background: url("../imgs/ChiudiOff.png") no-repeat center;
}
#img_back
{    
    width: 30px;
    background: url("../imgs/arrow_on.png") no-repeat center;
}
#img_back:hover
{    
 
    background: url("../imgs/arrow_off.png") no-repeat center;
}