ul {
    list-style: none;
    padding: 0;
    }

    li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    }
    li>span{  margin: 0 5px;}

    .delete-button {
    background-color: transparent;
    color: white;
    border: none;
    background: url("../imgs/deleteicon.png") no-repeat center;
    height:30px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    }