 
#areanavigazione
{
    background-color: #4E7ADB;
    display: flex;
    height: auto;
}
.sidebar
{
    width: 200px;
    height: auto;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.sidebar h2 {
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
  }
  .sidebar h2:hover {
    color: #333;
    background-color: #ddd;
  }
  .content {  
    width: 100%;

    padding: 20px;
  }
  .content > div {
    display: none;
  }
  .content > .active {
    display: block;
  }