/* Stili per il menu mobile */
@media (max-width: 768px) 
{
    .menu-icon {
        display: block; /* Mostra il menu hamburger sui dispositivi mobili */
    }
    
    .sidebar {
        display: none; /* Nascondi il menu principale */
 
    }
    .fieldContainer
    {
        flex-wrap: wrap;
    }

    .sidebar.active {
        display: flex;
        flex-direction: column;
        z-index: 99; 
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
@media (min-width: 768px) 
{
    .menu-icon {
        display: none; /* Nascondi il menu hamburger per default */
        cursor: pointer;
    }

}