/*test*/
*{margin: 0px;;}
html,body 
{
  height: 100%;
  font-family: Arial, sans-serif;
}

.LoginArea{
width: 500px; /* Imposta la larghezza desiderata del div */
  margin-left: auto;
  margin-right: auto;
}


.GenericButton
{
    border-width: 5px;
    border-radius: 5px;
    border-color: white;
    margin: 10px;
    width: 80%;
    padding: 20px;
    font-weight: 600;
    color: darkblue;
    background-color: #7CCBC7;
    font-size: 18px;
}

.Contenitore
{background-color: #009D99;
    
    height: 100vh;
}
.Login
{
  display: flex;
    text-align: center;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

.LoginArea span>input{
    width: 40%;
    padding: 4px 10px;
    background-color: transparent;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
    border-bottom: 3px solid lightgrey
  }

  input:focus {
    outline: none; /* Rimuovi il bordo di evidenziazione predefinito */
    
  }
  .Centra
  {
    text-align: center;
  }


  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
  }
 

  .grigliaScheda
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }