/*test*/
*{margin: 0px;;}


.TitleBar
{
    
    border-radius: 10px 10px 0px 0px;
    background-color: green;
    padding: 10px;
    font-size: 24px;
    color: lightgray;
    letter-spacing: 8px;
    font-family: Cairo;

}

.TitleBar>div+div
{
    height: 5px;
    background-color: lightgray;
}

.LoginArea{
width: 500px; /* Imposta la larghezza desiderata del div */
  margin-left: auto;
  margin-right: auto;
}

.GenericButton
{
    border-width: 5px;
    border-radius: 5px;
    border-color: white;
    margin: 10px;
    width: 80%;
    padding: 20px;
    font-weight: 600;
    color: darkblue;
    background-color: #7CCBC7;
    font-size: 18px;
}

.Contenitore
{background-color: #009D99;
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh;
}

.LoginArea span>input{
    width: 40%;
    padding: 4px 10px;
    background-color: transparent;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
    border-bottom: 3px solid lightgray
  }
  .Centra
  {
    text-align: center;
  }


  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
  }