/*generici*/
*{margin: 0px;;}
html,body 
{
  height: 100%;
  font-family: Arial, sans-serif;
}

#img_prof 
{
  max-height: 200px;
  max-width: 200px; 
  border: 3px solid white;
}
#elenco
{
  height: 700px;
    overflow: hidden;
    overflow-y: auto;
}

#studentList
{width: 310px;
  border: 3px solid #5F7938;
    border-radius: 10px;
}

.LoginArea{
width: 500px; /* Imposta la larghezza desiderata del div */
  margin-left: auto;
  margin-right: auto;
}

fieldset
{
  margin: 10px;
  min-width: 300px; 
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    position: relative;
    border: 3px solid white;
    border-radius: 5px;
    padding: 20px;
}
fieldset legend
{
  position: absolute;
    top: -10px;
    left: 10px;
    font-weight: 600;
    background-color: #4E7ADB;
    color: white;
    padding: 0 5px;
}

fieldset>div
{margin: 10px 0px;}


.fieldContainer
{
  display:flex;
  justify-content: 
  space-around;
  text-align:center;
  align-items: center;
  padding: 20px;
  
}

.GenericButton
{
    border-width: 5px;
    border-radius: 5px;
    border-color: white;
    margin: 10px;
    width: 80%;
    padding: 20px;
    font-weight: 600;
    color: lightgray;
    background-color: #5F7938;
    font-size: 18px;
}

.Contenitore
{background-color: #4E7ADB;
  height: 100%;width: 100%;

}
.Login
{
  display: flex;
    text-align: center;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

 
.bt_upload{
 
  border: none;
  background: #5F7938;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

 

.InsertText
{
  
  padding: 4px 10px;
  background-color: transparent;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
  border: none;
  color: white;
  font-weight: 500;
  border-bottom: 3px solid lightgrey
}

.InsertText:focus {
    outline: none; /* Rimuovi il bordo di evidenziazione predefinito */
    
  }
.InsertText::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

  .Centra
  {
    text-align: center;
  }

#bt_default_img
{
  height: 50px;
  width: 50px;
  background: url("../imgs/delete.png") no-repeat center;
  border: 0px;
}
  
 

  .grigliaScheda
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }